.info {
    width: 960px;
    margin-left: 400px;
    margin-right: 400px;
}

div, p {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

h1, h2 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    margin: 0 auto;
    width: 100%;
    background: #ffffff;
    border-bottom: 2px solid #777777;
    float: left;
}

h1 {
    background: #4aaaa5;
    float: left;
    font-size: 30px;
    font-weight: bold;
    color: #ffffff;
    padding: 30px;
    margin-left: 400px;
}

.about {
    color: #777777;
    width: 85px;
    height: 20px;
    font-size: 20px;
    float: left;
    position: relative;
    left: 500px;
    top: 38px;
    border-right: 1px solid lightgray;
}

.portfolio {
    color: #777777;
    width: 103px;
    height: 20px;
    font-size: 20px;
    float: left;
    position: relative;
    left: 530px;
    top: 38px;
    border-right: 1px solid lightgray;
}

.contact {
    color: #777777;
    width: 70px;
    height: 20px;
    font-size: 20px;
    float: left;
    position: relative;
    left: 557px;
    top: 38px;
}